# Direct browser-to-backend API requests, matching the Omdem CMS pattern.
NEXT_PUBLIC_BACKEND_BASE_URL=http://127.0.0.1:8000
# NEXT_PUBLIC_BACKEND_BASE_URL=https://petpet-service.onrender.com/api


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2luY2VyZS1wb255LTE2MzYuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_TrAXxqT9e26XZ4oiPxe1541qNiI3MYWfoI8Uip07pp